
@{
    ViewBag.Title = "Associated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Associated</h2>
<br/>

<h5>Associated Software</h5>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Software</th>
                <th>Software Version</th>
                <th>Production Date</th>
                <th>Expiry Date</th>
                <th>Expiry Flag</th>
            </tr>
        </thead>
    </table>
   <br />
    <br />

    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Software Name (MSI)</label>
        <div class="col-10">
            <input class="form-control" type="text" id="example-text-input">
        </div>
    </div>

    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Software Version</label>
        <div class="col-10">
            <input class="form-control" type="text" id="example-text-input">
        </div>
    </div>

    <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Production Date</label>
        <div class="col-10">
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
        </div>
    </div>

    <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Expiry Date</label>
        <div class="col-10">
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
        </div>
    </div>

    <fieldset class="form-group">
        <label for="exampleSelect1">Expiry Flag</label>
        <select class="form-control" id="exampleSelect1">
            <option>No</option>
            <option>Yes</option>
        </select>
    </fieldset>

    <div align="right">
        <button type="submit" class="btn btn-primary">Add to Softwares</button>
    </div>
    <br />

    <h5>Associated Hardware</h5>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Hardware</th>
                <th>Hardware Type</th>
                <th>Comments</th>
            </tr>
        </thead>
    </table>
    <br />
    <br/>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Hardware Name</label>
        <div class="col-10">
            <input class="form-control" type="text" id="example-text-input">
        </div>
    </div>

    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Hardware Type</label>
        <div class="col-10">
            <input class="form-control" type="text" id="example-text-input">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">Document Location</h4>
                <input type="file" class="dropify" data-height="300">
            </div>
        </div>
    </div>

    <fieldset class="form-group">
        <label for="exampleTextarea">Description</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </fieldset>

    <fieldset class="form-group">
        <label for="exampleTextarea">Comments</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </fieldset>

    <div align="right">
        <button type="submit" class="btn btn-primary">Add to Hardware</button>
    </div>
    <br />

    <h5>Associated Reports</h5>
    

    <table class="table">
    <thead>
            <tr>
                <th>#</th>
                <th>Report</th>
                <th>Report Server</th>
                <th>Report User Account</th>
                <th>Production Date</th>
                <th>Expiry Date</th>
                <th>Expiry Flag</th>
            </tr>
        </thead>
    </table>
    <br />
    <br />

    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Report Name</label>
        <div class="col-10">
            <input class="form-control" type="text" id="example-text-input">
        </div>
    </div>

    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Report Server</label>
        <div class="col-10">
            <input class="form-control" type="text" id="example-text-input">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">Report Location</h4>
                <input type="file" class="dropify" data-height="300">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Report User Account</label>
        <div class="col-10">
            <input class="form-control" type="text" id="example-text-input">
        </div>
    </div>

    <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Production Date</label>
        <div class="col-10">
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
        </div>
    </div>

    <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Expiry Date</label>
        <div class="col-10">
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
        </div>
    </div>

    <fieldset class="form-group">
        <label for="exampleSelect1">Expiry Flag</label>
        <select class="form-control" id="exampleSelect1">
            <option>No</option>
            <option>Yes</option>
        </select>
    </fieldset>

    <div align="right">
        <button type="submit" class="btn btn-primary">Add to Reports</button>
    </div>
    <br />

    <div align="right">
        <a href="/Add/Version">
            <button type="button" class="btn btn-success btn-rounded waves-effect waves-light">
                Review and Finish
                <span class="btn-label btn-label-right">
                    <i class="fa fa-arrow-right"></i>
                </span>
            </button>
        </a>
    </div>
    <br />
