
@{
    ViewBag.Title = "Version";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h5>Server Database</h5>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Operating System</th>
            <th>Server URL</th>
            <th>Database Name</th>
            <th>IE</th>
        </tr>
    </thead>
</table>

<br />

<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Server Name</label>
    <div class="col-10">
        <input class="form-control" type="text" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Server Type</label>
    <div class="col-10">
        <input class="form-control" type="text" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Operating System</label>
    <div class="col-10">
        <input class="form-control" type="text" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Server URL</label>
    <div class="col-10">
        <input class="form-control" type="text" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Database Name</label>
    <div class="col-10">
        <input class="form-control" type="text" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Database Type</label>
    <div class="col-10">
        <input class="form-control" type="text" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Instance Environment</label>
    <div class="col-10">
        <input class="form-control" type="text" id="example-text-input">
    </div>
</div>

<div align="right">
    <button type="submit" class="btn btn-primary">Add to Server</button>
</div>

<h5>Versions</h5>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Version</th>
            <th>Instance Environment</th>
            <th>Install Date</th>
            <th>Upgrade Date</th>
        </tr>
    </thead>
</table>
<br/>

<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Version</label>
    <div class="col-10">
        <input class="form-control" type="text" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Instance Environment</label>
    <div class="col-10">
        <input class="form-control" type="text" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Install Date</label>
    <div class="col-10">
        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Upgrade Date</label>
    <div class="col-10">
        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
    </div>
</div>

<div align="right">
    <button type="submit" class="btn btn-primary">Add to Versions</button>
</div>
<br/>
<br/>

<div align="right">
    <a href="/Add/Associated">
        <button type="button" class="btn btn-success btn-rounded waves-effect waves-light">
            Save and Continue
            <span class="btn-label btn-label-right">
                <i class="fa fa-arrow-right"></i>
            </span>
        </button>
    </a>
</div>
<br/>